@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2em 4em;
}

.header {
  display: flex;
  align-items: center;
}

.logo img{
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.header ul {
  display: flex;
  gap: 3em;
  list-style: none;
}

.header a {
  text-decoration: none;
  color: black;
}

.cardLayout {
  padding: 2em 10em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4em;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 20%;
  min-width: 200px;
}

/* comment Popup style*/

#popup-window {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#close-btn {
  position: absolute;
  top: 4%;
  right: 4%;
  cursor: pointer;
}

.card-popup {
  width: 90%;
  height: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.card-popup .pokemonTitle{
  font-size: 28px;
}

.card-popup img{
  width: 30%;
  border: double gray
}

.card

.pokemonInfo p{
  font-size: 20px;
}

#pokemonInfos {
  width: 80%;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20%;
}

